@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    font-family: 'Unica One', cursive;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url("jarvis.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;

    color: white;
    font-family: 'Unica One', cursive;
}

header, footer {
    height: 100px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    color: white;
    font-size: 3em;
    letter-spacing: 0.3em;
}

#mark, #log-button {
    width: 80px;
    margin: 0 10px;
}

#main-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#login-form {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: black;
}

legend {
    text-align: center;
    font-size: 40px;
}

#login {
    background-color: dodgerblue;
    border: none;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}
#login:hover{
    background-color: #1865b5;
}
#login-form * {
    width: 100%;
    margin: 8px 0;
}

.error {
    margin: 5px 0;
    background: black;
    padding: 0 10px;
    font-size: 2em;
    color: orangered;
    text-align: center;
    width: 300px;
    border: 5px;
}
#logout {
    width: 70px;
    height: 38px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #717979;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    cursor:pointer;
}
#logout:hover{
    background-color: #4a4e4e;
}
a {
    text-decoration: none;
}

.hidden {
    display: none;
}